@{
    ViewData["Title"] = "About Me";
}

<h2>About Me</h2>
<p>
    Hi, I'm Levi, a football fan and software development student.
    I built this site to combine my passion for football with learning ASP.NET Core MVC.
</p>
<ul>
    <li>Favorite team: (Cicinnati Bengals)</li>
    <li>Favorite offense to watch: (Air Raid)</li>
    <li>Favorite player: (Joe Burrow)</li>
</ul>
