@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My NFL Football Website</h1>
    <p class="lead">Explore NFL teams, players, and learn more about my love for football.</p>
</div>
